<link rel="shortcut icon" href="../../favicon.ico" >

<br/>
<h1><strong>Welcome to Check Point<strong></h1>
<hr/>
<div class="contant-wrapper-min-width">
<table width="100%" id="welcome-content">
	<tr>
		<td>
		<p id="infobox">
			<h3>What is Check Point?</h3> Check Point is a web based application that provides information about points of interest. View pictures of points and get detailed information of were they are located. View information about the sponsor of the point of interest and view other points that the artist has created.
		</p> <%= image_tag("wolf2.jpg", :alt => "Wolf", :id => 'welcome-image') %> </td>
	</tr>
</table>
</div>
<hr/>
<h1>&nbsp;</h1>